.review-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.review-card img {
    width:25vw;
    height:25vw;
    object-fit:cover;
}

.details h3 {
    text-align: right;
    font-size: 1rem;
}

.vote {
    margin: 0;
    margin-left: 1rem;
}

@media screen and (max-width: 600px) {
    details {
        font-size: 0.55rem;
    }
}

@media screen and (max-width: 1200px) {
    details {
        font-size: 0.75rem;
    }
}